@model IEnumerable<NoPrecin.Models.EquipeNoPrecin>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Equipe No Precin</h1>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/img/@item.Imagem" />
                        <div class="card-body">
                            <p class="card-text">
                                @Html.DisplayFor(x => item.Nome)
                            </p>
                            <p class="card-text">
                                @Html.DisplayFor(x => item.Desdrição)
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>